.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1.3px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact__option h4 {
    font-size: 0.9rem;
}

.contact__option h5 {
    font-size: 0.8rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 2rem;
}

.contact__option:hover .whatsapp {fill: rgb(2, 120, 2); color: rgb(2, 120, 2);}
.contact__option:hover .email {fill: rgb(207, 3, 3); color: rgb(207, 3, 3);}

.whatsappc:hover {border:1.3px solid rgb(2, 120, 2);}
.emailc:hover {border: 1.3px solid rgb(207, 3, 3);}


/* FORMULARIO */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 12rem;
    background: transparent;
    border: 1px solid var(--color-bg);
    resize: none;
    color: var(--color-bg);
}
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
    background: transparent;
    border: 1px solid var(--color-bg);
    resize: none;
    color: var(--color-bg);
}
input:hover, textarea:hover {
    border-color: var(--color-primary);
}

form > button {
    color: white;
    background: var(--color-bg-variant);
    margin: 0 35%;
    font-size: 1rem;
}


/* MEDIA QUERIES ( MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERIES ( SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}